.App {
  margin: 0;
  padding: 0;
  font-family: 'Belanosima', sans-serif;
  font-family: 'Karla', sans-serif;
  
}

.container {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  justify-content: space-around;

}
.searchContainer {
  width: 50%;
  background-color: rgba(15, 14, 14, 0.5); 
}
.playListContainer {
  margin-left: 10%;
  width: 50%;
  margin-right: 2%;
  background-color: rgba(15, 14, 14, 0.5); 
}
h2{
  color: aliceblue;
  margin-top: 10;
  text-align: center;
  font-size: 30px;
}
h1 {
  color: #f1e8e8;
  text-align: center;
  font-style: italic;
  font-size: 80px;
  font-family: 'Dancing Script', cursive;

}
.login {
  background-color: #22b435;
}
/* button */
button {
  padding: 10px 20px;
  background-color: #4092cc;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}


/* Input Text */
input[type="text"] {
  width: 80%;
  margin-left: 5%;
  margin-bottom: 5%;
  border: 1px solid #7a5c5c;
  border-radius: 4px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}


/* List of results */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  color: #f1e8e8;
  margin-left: 4%;
  font-size: 20px;
}

